*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;

}
.container{
   
    height: 50px;
  background-color:#0f1111;
    color: white;
    display: flex;
    align-items: center;
  justify-content: space-between;
    
   
  
    
        
}
.nav-logo{
    
   height: 50px;
   width: 100px;
  justify-content: space-between;
   
   padding: 5px;
   border-radius: 40px;
   display: flex;
  

  
}
.logo{
 
 height: 50px;
 width:200px;
 background-size: cover;
 list-style: none;
 align-items: center;

 margin-left: 20px;
 

 

}
.logo h1:hover{
    border:2px solid white
}
.nav-address{
  margin-left: 50px;
}
.nav-address:hover{
    border:2px solid white;

}
.add-first{
color: #cccccc;
font-size: 0.85rem;
margin: 4px;
margin-left: 20px;
}

.add-second{
    font-size: 14px;
    margin-left: 3px;
    
    
}
.add-icon{
    display: flex;
    
    align-items: center;
    list-style: none;
    
   

}
.fa-solid{
    font-size:14px ;
   
}
.nav-serch{
   display: flex;
   align-items: center;
   
   
   width: 620px;
   height: 40px;
   border-radius: 4px;
   margin-left: 50px;

  

}

.search{
    background-color:#f3f3f3;
    width: 50px;
    text-align: center;
    border-radius: 1px;
    height: 40px;
   
    border-top-left-radius:4px ;
    border-bottom-left-radius:4px ;
    border: none;
  

}
.search-input{
 width: 400px;
 height: 40px;
 border-radius: 1px;
 font-size: 1rem;
 border: none;

}
input{
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
   
}
.search-icon{

height: 40px;
width: 50px;
display: flex;
justify-content: center;
align-items: center;
background-color: rgb(255, 208, 0);
border: none;
border-radius: 1px;
border-top-right-radius:4px ;
border-bottom-right-radius:4px ;
}
.nav-serch:hover{
    border: 2px solid rgb(255, 162, 0);
}
.sign-in{
    margin-left: 700px;
    padding: 50px;
    
}
.sign-in p:hover{
    cursor: pointer;
    color: aqua;
    border: 2px solid red;
}


.second{
    font-weight: 700;
}
span{
    font-size: 0.7rem;
}
.sign-up{
    margin-right: 700px;
    margin: 10px;
}
.sign-up:hover{
    border: 2px solid orange;
}

.cart{
    padding: 120px;
    font-weight: 700;
   
}

.cart i:hover{
    cursor: pointer;
    color: chartreuse;
    
}



.cart .fa-solid{

    font-size: 30px;
  
    
}
.cart .fa-solid:hover{
    border: 2px solid black;
}

.cart1{
    height: 40px;
    background-color: #222f32;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-evenly;
    

}
.icon:hover{
   border: 2px solid rgb(255, 242, 0);
   
}
.ops{
   display: flex;
   width: 70%;
   color:white;
   font-size: 0.85rem;
   margin-left: 15px;
   font-weight: 700;
   font-size: 15px;
}
.ops p{
    margin-left: 20px;
}
.ops p:hover{
    border:2px solid aqua ;
   
}
.details{
    font-size: 0.9rem;
    font-size: 17px;
   
}
.details p{
    font-weight: 700px;
    font-size: 13px;
    margin-left: 100px;
}
.details:hover{
    border: 2px solid aqua;
}
.img{
    background-image: url("amazon1.png");
   height: 300px;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: flex-end;

}

.section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color:#e2e7e6;
  


}
.card{
   
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 20px;
  
    
}.card-content h2:hover{
    color: chartreuse;
    cursor: pointer;
}

.card-img{
  background-image: url("img3.png");
  height: 300px; 
  margin-top: 1rem;
  margin-bottom: 1rem;
 background-size: cover;
 background-image: contain;
 
 
}

.card-img1{
    background-image: url("watch 1.png");
    height: 350px;
    background-size: cover;
    width: 230px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.card-img1 p{
    color: black;
}
.card-img2{
    background-image: url("pharmacy4.png");
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.card-img3{
    background-image: url("img5.png");
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;

}
.card-img4{
    background-image: url("img4.png");
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;

}
.card-img5{
    background-image: url("mix.png");
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
  

}
.card-img6{
    background-image: url("bed.png");
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;


}
.card-img7{
    background-image: url("dooor.png");
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;

}


.card-content{
    margin-left: 1rem;
    margin-right: 1rem;
    
}
h2{
    font-size: 20px;
    color: black;
}
.card-content{
   
 
     color: #007185;
     
}
.card-content p:hover{
    color: red;
}
.phto2{
 
 margin-top: 70px;
 padding-left: 40px;
 padding: 30px;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color:rgba(255, 111, 0, 0.139);
 margin: 40px;
 padding: 40px;
   
}

.phot3 img{
    width: 400px;
    height: 300px;
    
}

.phot3 img:hover{
    cursor: pointer;
    border-radius: 30px;
   
}

.footer1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    
}
.footer1:hover{
    cursor: pointer;
    color: red;
}
.footer2{
  background-color: #222f3d;
  color: white;
  height: 400px;
  display: flex;
  justify-content: space-evenly;
}
ul{
    margin-top: 20px;
}
ul p{
    font-weight: 700;
}
ul p:hover{
    cursor: pointer;
    color: chartreuse;
}

ul a{
    display: block;
    font-size: 0.85 rem;
    margin-top: 10px;
    color: #dddddd;
}
ul a:hover{
    cursor: pointer;
    color: red;
}
.footer3{
    background-color: #222f32;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.log2 {
  color: white;
}
.log2:hover{
    cursor: pointer;
    color: orange;
}
.footer4{
 
   background-color:#0f1111;;
    color: #dddddd;
    height: 80px;
    text-align: center;
    font-size: 0.7rem;
}
.tag{
    
    padding-top: 25px;
    
 }
 .tag a:hover{
    cursor: pointer;
    color: chartreuse;
 }
 .copyright{
 padding-top: 5px;
 
}
.copyright:hover{
    cursor: pointer;
    color: red;
}
 
 
    

 
 

 

 
